<html>
  <head>
    <meta charset='utf-8' />
    <title>Ada-Client</title>
    <script src='/js/tailwind.js'></script>
    <style>
      body{ background-color: black; }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>