<!-- Content -->
<div class='h-screen flex flex-col pb-6'>
  <div class='h-full flex flex-col justify-center'>
    <div
      class='-mt-20 max-w-4xl w-full text-center mx-auto px-4 sm:px-6 lg:px-8'
    >
      <div class='mb-4 flex justify-center items-center'>
        <!-- Logo -->
        <a
          class='flex-none rounded-md text-xl inline-block font-semibold focus:outline-none focus:opacity-80'
          href='../templates.html'
          aria-label='Preline'
        >

          <img
            style='width: 70px; border-radius: 7px;'
            src='https://weshape.tech/wp-content/uploads/Ada-Lovelace_WST-background_1200x1200-1024x1024.jpg'
            alt=''
          />
        </a>

      </div>

      <h1 class='text-3xl font-bold text-gray-800 sm:text-4xl dark:text-white'>
        Welcome to Ada AI
      </h1>
      <p class='mt-3 text-gray-600 dark:text-neutral-400'>
        Your AI-powered by Ada-Engine
      </p>
    </div>

    <form action="/promt" method="post">
    <div class='mt-10 max-w-2xl w-full mx-auto px-4 sm:px-6 lg:px-8'>
      <div class='relative'>
        <input
          type='text'
          name="promt"
          class='p-4 block w-full border-gray-200 rounded-full text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600'
          placeholder='Ask me any question...'
        />
        <div class='absolute top-1/2 end-2 -translate-y-1/2'>
          <button
            type='submit'
            class='size-5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-500 hover:text-gray-800 focus:outline-none focus:text-gray-800 disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-white dark:focus:text-white'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              version='1.1'
              xmlns:xlink='http://www.w3.org/1999/xlink'
              width='512'
              height='512'
              x='0'
              y='0'
              viewBox='0 0 404.644 404.644'
              style='enable-background:new 0 0 512 512'
              xml:space='preserve'
              class=''
            ><g><path
                  fill='#096ad9'
                  d='M5.535 386.177c-3.325 15.279 8.406 21.747 19.291 16.867l367.885-188.638h.037c4.388-2.475 6.936-6.935 6.936-12.08 0-5.148-2.548-9.611-6.936-12.085h-.037L24.826 1.6C13.941-3.281 2.21 3.189 5.535 18.469c.225 1.035 21.974 97.914 33.799 150.603l192.042 33.253-192.042 33.249C27.509 288.26 5.759 385.141 5.535 386.177z'
                  opacity='1'
                  data-original='#096ad9'
                  class=''
                ></path></g></svg>
          </button>

<form>
        </div>
      </div>
    </div>
    <!-- End Search -->
  </div>

  <footer class='mt-auto max-w-4xl text-center mx-auto px-4 sm:px-6 lg:px-8'>
    <p class='text-xs text-gray-600 dark:text-neutral-500 font-bold'>© 2025
      Developed by Mohammad Hasani</p>
  </footer>
</div>